* {
    /*outline: solid 1px red;*/
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
	margin-top: 10px;
}

.my-name {
	font-size: 54px;
	font-weight: 100;
}

.my-info {
	font-weight: 400;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
}